.background{
   background:#FDFDFD;
   padding: 5px 5px 5px 5px;
}
.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
.carousel-control {
	left: -12px;
    height: 40px;
	width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
}
.carousel-control.right {
	right: -12px;
}
/* The indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
	background: #cecece;
}
#sala-escolha{
  margin-top:200px;
  width: 1000px;
  height:100%;
  margin: 0 auto;
  max-width: 100%;
}

.caption-style-1{
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		
	}

	.caption-style-1 li{
		float: left;
		padding: 0px;
		position: relative;
		overflow: hidden;
	}

	.burst-side:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 500ms ease-in;
    -o-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
}

.burst-side:hover:before{
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform:translateX(0%);
    transform: translateX(0%);
}

.burst-side .caption {
    background: url(../images/up_burst.png) no-repeat;
    background-position: 0 0;
    -webkit-animation: capsideout 0.68s steps(17) forwards;
    -o-animation: capsideout 0.68s steps(17) forwards;
    animation: capsideout 0.68s steps(17) forwards;
	-webkit-transform: rotate(90deg);
    -ms-transform: translateX(90deg);
    -o-transform:translateX(90deg);
    transform: translateX(90deg);

}

.burst-side:hover .caption {
    -webkit-animation: capsidein 0.68s steps(17) forwards;
    -o-animation: capsidein 0.68s steps(17) forwards;
    animation: capsidein 0.68s steps(17) forwards;
}

@-webkit-keyframes capsidein {
    from { background-position: 0 0; }
    to { background-position: -4250px 0; }
}
@-o-keyframes capsidein {
    from { background-position: 0 0; }
    to { background-position: -4250px 0; }
}
@-moz-keyframes capsidein {
    from { background-position: 0 0; }
    to { background-position: -4250px 0; }
}
@keyframes capsidein {
    from { background-position: 0 0; }
    to { background-position: -4250px 0; }
}
@-webkit-keyframes capsideout {
    from { background-position: -4250px 0; }
    to { background-position: 0px 0; }
}
@-o-keyframes capsideout {
    from { background-position: -4250px 0; }
    to { background-position: 0px 0; }
}
@-moz-keyframes capsideout {
    from { background-position: -4250px 0; }
    to { background-position: 0px 0; }
}
@keyframes capsideout {
    from { background-position: -4250px 0; }
    to { background-position: 0px 0; }
}

.burst-side img{
    position: relative;
	top: 98%;
    left: 50%;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    -webkit-transform: scale(1.5,1.5) translate(-50%, -50%);
    -ms-transform: scale(1.5,1.5) translate(-50%, -50%);
    -o-transform: scale(1.5,1.5) translate(-50%, -50%);
    transform: scale(1.5,1.5) translate(-50%, -50%);
    transform: scale(1.5,1.5) translate(-50%, -50%);
    -webkit-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
	-webkit-transform-origin: 0% 50%;
	-moz-transform-origin: 0% 50%;
	-ms-transform-origin: 0% 50%;
	-o-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
}

.burst-side:hover img{
	
}

.burst-side h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 30px;
    line-height: 30px;
    font-family: Roboto;
    z-index: 3;
    width: 75%;
    color: rgba(242, 242, 242, 0);
    text-align: center;
    font-weight: 300;
    -webkit-transform: translate(-100%,-50%);
    -ms-transform: translate(-100%,-50%);
    -o-transform: translate(-100%,-50%);
    transform: translate(-100%,-50%);
    -webkit-transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1) 150ms;
    -o-transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1) 150ms;
    transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1) 150ms;
}

.burst-side:hover h1 {
    color: #f2f2f2;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}


.box-wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
}

#box {
       position: relative;
    width: 350px;
    height: 200px;
    overflow: hidden;
    cursor: pointer;
    float: left;
    max-width: 100%;
    margin-top: 50px;
    padding-top: 20px;
}

#box .caption{
    position: absolute;
    top: 0;
    left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
  max-width: 100%;
    width: 350px;
    height: 250px;
    z-index: 2;
}


.teal:before{
    background: black;
    opacity: 0.80;
    max-width: 100%;
}
